@using LMTracking.Extension
@using LMTracking.Helpers


@{
    var usuario = ViewContext.HttpContext.RetornaUsuarioLogado();

    
}

<!-- Left navbar-header -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
        <div class="user-profile">
            <div class="dropdown user-pro-body">
                <div><img src="~/images/users/varun.jpg" alt="user-img" class="img-circle"></div>
                <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@usuario.Nome <span class="caret"></span></a>
                <ul class="dropdown-menu animated flipInY">
                    @*<li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                    <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                    <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                    <li role="separator" class="divider"></li>*@
                    <li><a href="~/Account/Logout"><i class="fa fa-power-off"></i> Logout</a></li>
                </ul>
            </div>
        </div>
        <ul class="nav" id="side-menu">
            <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                <!-- input-group -->
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>



            <li>
                <a href="inbox.html" class="waves-effect">
                    <i data-icon="&#xe00b;" class="linea-icon linea-basic fa-fw"></i>
                    <span class="hide-menu">
                        Cadastro<span class="fa arrow"></span>
                    </span>
                </a>
                <ul class="nav nav-second-level">
                    <li> <a href="index.html">Motorista</a> </li>
                    <li> <a href="index2.html">Veiculo</a> </li>
                </ul>
            </li>

            <li> <a href="~/Rastreamento/Index" class="waves-effect">
                <i data-icon="Q" class="linea-icon linea-basic fa-fw"></i> 
                <span class="hide-menu">Rastreamento</span></a> 
            </li>

            <li>
                <a href="~/ProgramacaoEntrega/Incluir" class="waves-effect">
                    <i data-icon="Q" class="linea-icon linea-basic fa-fw"></i>
                    <span class="hide-menu">Plano de Entrega</span>
                </a>
            </li>

            <li>
                <a href="~/PlanoViagem/Index" class="waves-effect">
                    <i data-icon="Q" class="linea-icon linea-basic fa-fw"></i>
                    <span class="hide-menu">Plano de Viagem</span>
                </a>
            </li>


            <li><a href="~/Account/Logout" class="waves-effect"><i class="icon-logout fa-fw"></i> <span class="hide-menu">Log out</span></a></li>
        </ul>
    </div>
</div>
<!-- Left navbar-header end -->