@{
    ViewBag.Title = "Incluir";
}


<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Cadastrar</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="#">LM Tracking</a></li>
            <li><a href="/Rastreamento/Index">Rastreamento</a></li>
            <li class="active">Cadastrar</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-md-12">
        <div class="white-box">

            <div class="row">
                <div class="col-sm-12 col-xs-12 m-b-40">

                    <div class="form-group">
                        <label class="col-md-12">Apelido</label>
                        <div class="col-md-12">
                            <input type="text" id="txtApelido" tabindex="1" placeholder="" class="form-control form-control-line">
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-5" id="div-endereco-entrega">


                    <div class="row">
                        <div class="col-sm-12 col-xs-12 col-md-12 m-b-10">

                            <div class="form-group">
                                <label class="col-md-12">Cliente</label>
                                <div class="col-md-12">
                                    <input type="text" id="txtCliente" placeholder="" tabindex="2" class="form-control form-control-line">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-xs-12 col-md-12 m-b-10">
                            <div class="form-group">
                                <label class="col-md-12">Endereço</label>
                                <div class="col-md-12">
                                    <input type="text" id="txtEndereco" placeholder="" tabindex="3" class="form-control form-control-line">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-xs-12 col-md-12 m-b-30">

                            <div class="col-sm-12 col-md-4">
                                <div class="radio radio-success">
                                    <input type="radio" name="radio" id="rdbEntrega" checked value="EntregaColeta">
                                    <label for="rdbEntrega"> Entrega </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="radio radio-success">
                                    <input type="radio" name="radio" id="rdbColeta" value="EntregaColeta">
                                    <label for="rdbColeta"> Coleta </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-xs-12 col-md-12">
                            <div class="form-group">
                                <button type="button" tabindex="4" class="btn btn-default btn-adicionar-endereco pull-right waves-effect waves-light m-r-10">Adicionar</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="table-responsive">
                            <table class="table" id="table-endereco" style="display:none;">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Cliente</th>
                                        <th>Endereço</th>
                                        <th>Duração</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>

                </div>

                <div class="col-md-7 coluna-mapa" style="display:none;">
                    <div class="white-box">
                        <div id="overlayermap" class="gmaps divmapa"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12">
                    <button type="button" tabindex="5" class="btn btn-success btn-salvar pull-right waves-effect waves-light m-r-10">Salvar</button>
                </div>
            </div>

        </div>
    </div>
</div>





@section scripts {

    <script>

        $(document).ready(function () {
            //CalcularHeightMapa();

            //InicializarConfiguracoesMapa();

            @*var local = {};

            local.tipoPonto = @Model.TipoPonto;
            local.latitude = @Model.Latitude.ToString().Replace(",", ".");
            local.longitude =@Model.Longitude.ToString().Replace(",", ".");
            local.id = @Model.ID;
            local.descricao = '@Model.Descricao';

            AdicionarLocal(local);*@

            $('#txtApelido').focus();

            $('.btn-salvar').attr('disabled', true);
        });

        $(window).resize(function () {
            CalcularHeightMapa();
        });

        function CalcularHeightMapa() {

            if ($('#div-endereco-entrega').height() > 500) {
                $('.divmapa').height(500);
            }
            else {
                $('.divmapa').height($('#div-endereco-entrega').height());
            }
            
            if (mapaConfig != undefined) {
                // (the 'map' here is the result of the created 'var map = ...' above)
                google.maps.event.trigger(mapaConfig, "resize");
            }

        }

        var mapaConfig;
        var PontosMapas = {};


        function InicializarConfiguracoesMapa() {

            var latitude = -23.5291447;
            var longitude = -46.7388459;

            mapaConfig = new GMaps({
                el: '#overlayermap',
                lat: latitude,
                lng: longitude,
                zoom: 13,
                panControl: false,
                scrollwheel: true,
                streetViewControl: false,
                mapTypeControl: false,
                overviewMapControl: false
            });
        }

        function AdicionarLocal(local) {
            if (mapaConfig == undefined) {
                InicializarConfiguracoesMapa();
            }

            var cssClass = 'motoristas';
            var icone = '<i class="fa fa-user"></i>'; // Motoristas
            if (local.tipoPonto == 2) {
                cssClass = 'veiculos';
                icone = '<i class="fa fa-truck"></i>';  // Veiculos
            }
            icone = '';

            return mapaConfig.drawOverlay({
                lat: local.latitude,
                lng: local.longitude,
                layer: 'overlayLayer',
                content: '<div class="gmaps-overlay ' + cssClass + '" data-id="' + local.id + '">' + icone + ' ' + local.descricao + '<div class="gmaps-overlay_arrow above ' + cssClass + '"></div></div>',
            });
        }


        $(document).on('click', '.btn-adicionar-endereco', function () {

            if ($('#txtCliente').val() != '' && $('#txtEndereco').val() != '') {

                if ($('#table-endereco').is(':visible') == false) {
                    $('#table-endereco').show();
                }

                CalcularHeightMapa();
                if ($('.coluna-mapa').is(':visible') == false) {
                    $('.coluna-mapa').show();
                    InicializarConfiguracoesMapa();
                }

                AdicionarEndereco($('#txtCliente').val(), $('#txtEndereco').val());

                $('#txtCliente').val('');
                $('#txtEndereco').val('');

                $('#txtCliente').focus();

                // Habilita o botão para clique.
                $('.btn-salvar').removeAttr('disabled');
            }
        });

        function AdicionarEndereco(endereco, cliente) {

            var ID = $('#table-endereco>tbody').children().length + 1;

            var tempo = ID * 10;

            var html = '<tr>\
                            <td>' + ID + '</td>\
                            <td>' + cliente + '</td>\
                            <td>' + endereco + '</td>\
                            <td><span class="label label-info">' + tempo + ' min</span> </td>\
                        </tr>';


            $('#table-endereco>tbody').append(html);

            var coordenadas = [
                { ID: 1, Latitude: -23.528743, Longitude: -46.739711 },
                { ID: 2, Latitude: -23.526452, Longitude: -46.735209 },
                { ID: 3, Latitude: -23.537384, Longitude: -46.720805 },
                { ID: 4, Latitude: -23.526327, Longitude: -46.713252 },
                { ID: 5, Latitude: -23.548065, Longitude: -46.748652 },
                { ID: 6, Latitude: -23.525142, Longitude: -46.765459 },
                { ID: 7, Latitude: -23.528604, Longitude: -46.773870 },
                { ID: 8, Latitude: -23.532736, Longitude: -46.763956 },
                { ID: 9, Latitude: -23.514832, Longitude: -46.753356 },
                { ID: 10, Latitude: -23.540260, Longitude: -46.719487 }];

            var local = {};

            local.tipoPonto = 1;
            local.latitude = coordenadas[ID].Latitude;
            local.longitude = coordenadas[ID].Longitude;
            local.id = ID;
            local.descricao = cliente;

            AdicionarLocal(local);
        }


        $(document).on('click', '.btn-salvar', function () {

            if ($('#txtApelido').val() == '') {
                AlertaEror('Atenção', 'Apelido não informado');
                $('#txtApelido').focus();
                return;
            }

            if ($('#table-endereco>tbody').children().length <= 0) {
                AlertaEror('Atenção', 'Local de entrega não foi informado');
                $('#txtCliente').focus();
                return;
            }

            $('#txtApelido').val('');
            $('#txtCliente').val('');
            $('#txtEndereco').val('');
            $('#table-endereco>tbody').children().remove();

            $('#table-endereco').hide();
            $('.coluna-mapa').hide();


            swal({
                title: 'Atenção',
                text: 'Programação foi criada com sucesso!',
                type: 'success',
                confirmButtonText: 'Ok'
            })
        });

        function AlertaEror(heading, text) {
            $.toast({
                heading: heading,
                text: text,
                position: 'top-right',
                loaderBg: '#ff6849',
                icon: 'info',
                hideAfter: 3500,

                stack: 6
            });
        }





    </script>
}
